html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
}
body{
    background-image: url(/resources/fondo-02.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: url(/cursor-04.png), auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 221px 0;
}
@media screen and (max-width:415px) {
    body {
        background-image: url(../resources/fondo-iPhoneX-07.jpg);
    }
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 66px;
    text-align: center;
    color: #242853;
}
a{
    text-decoration: none;
    padding: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #3262aa;
    background: white;
    border-radius: 55px;
}