@media screen and (max-width: 375px) {
    .topnav li a:not(:first-child) {
        display: none;
    }

    .topnav li a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 375px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive li a {
        float: none;
        display: block;
        text-align: left;
    }
}

.topnav .icon {
    display: none;
}


@media screen and (max-width:415px) {
    body {
        background-image: url(../resources/fondo-iPhoneX-07.jpg);
    }
    section:nth-child(1)>div>h1 {
        line-height: 55px;
        font-size: 52px;
        padding: 5px;
    }

    body>div {
        padding: 0 !important;
        flex-direction: column !important;
        margin-top: 94px;
    }

    .formulario {
        width: 266px;
    }

    .formulario form {
        padding: 0%;
        margin: 0%;
        width: 100%;
    }

    .contListas>a {
        font-size: 12px;
    }

    input[type="button"] {
        width: 100% !important;
    }

    .contenedorForm {
        flex-direction: column;
        width: 100%;
    }

    .imgResposive {
        padding: 0px;
        width: 126px;
        margin: 0px 146px;
    }

    .peach {
        padding: 0 !important;
    }

    .ticket4>h1:nth-child(1) {}

    .ticket3>h1:nth-child(1) {
        font-size: 39px;
    }

    .ticket4>h1:nth-child(1) {
        font-size: 26px;
    }

    .description {
        flex-direction: column;
        
        
padding: 101px 1px !important;;}

    .name,
    .lastname,
    .email,
    .numero {

        width: 100%;
        justify-content: space-around;
    }

    .form {
        width: 100%;
        padding: 140px  0;
        margin-top: 29px;
    }

    input {
        WIDTH: 124PX;
        height: 19px;
    }

    .enviar {
        height: 55px !important;
        width: 136px !important;
        font-size: 19px !important;
    }

    form {
        width: 47%;
        padding: 24px;
        border-radius: 46px;
        margin: 23px;
        height: 100%;

    }
    .justify-center{
        width: 328px;
    }
    .contenedordespon {
        padding: 27px;
        margin-top: 44px;
        background-color: white;
        border-radius: 50px;
        width: 284px;
    }
    form{
        flex-direction: column !important;
        height: auto;
    }
    #question {
        background: #ffffff87;
        border-radius: 30px;
        border: 5px solid white;
    }

    .contenedordespon>img {
        width: 89px;
        padding: 7px 8% !important;
    }

    .subtitulo {
        font-size: 52px;
    }

    .sponsors>.subtitulo {
        font-size: 38px;
    }

    .sponsors {
        padding: 211px 0px;
        padding-bottom: 0;
    margin: 125px 0;}
    .hero{
        margin: 351px 0;
    }
    .btn_panel{
        text-align: center;
    }
    main {
        padding: 0;
    }
    .infoexito{
        font-size: 40px;
    }
    .goback{
        margin-top: 66px;
    }
    .contListas {
        margin-top: 24px;
    text-align: center;}
    .tituloArtistas{
        line-height: 58px;
    margin-top: 47px;}
    body {
        background-repeat: repeat;
    }

    form>h1 {
        font-size: 33px;
    }

    label {
        font-size: 15px;
        margin: 0;
    }

    #Ubicacion,
    #Boletas {
        WIDTH: 150PX;
        height: 44px;
    }

    .info_description {
        width: auto;
        height: auto;
        margin-top: 27px;
    }

    .prices {
        padding: 196px  0;
    margin: 354px 0;}

    iframe {
        width: auto;
        height: 280px;
    }

    section>div>h3 {
        font-size: 15px;
    }

    .iconos>img {
        width: 30px;
        padding: 2%;
        margin-top: 3px;
    }

    .iconos {
        width: 100%;
    }

    section:nth-child(2)>div>h1 {
        font-size: 54px;
        line-height: 42px;
    }

    td {
        padding: 13px;
        font-size: 11px;
    }

    th {
        padding: 7px;
        font-size: 9px;
        border-radius: 10px 10px 0px 0px;
    }

    table {
        
padding: 0;
        
MARGIN: 13PX;
    }

    .schedules {
        padding: 224px 0px;
    }

    .contListas>a {
        background: NONE;
        padding: 12px;
        border-radius: 14px;
        font-family: 'Poppins', sans-serif;
        margin: 4px;
        color: #ffffff;
        text-decoration: none;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        font-size: 21px;
    border: none;text-align: center;text-decoration: revert;}

    .contents {
        padding: 111px 0;
    }

    .subtitulo2 {
        width: 100%;
    }

    .CP {
        background-color: #ffde17;

    }

    .CP:active,
    .CP:hover,
    .CP::placeholder {
        background-color: #ffde17 !important;
    }

    input,
    input:active {
        WIDTH: 124PX;
        height: 19px;
    }

    .items_canciones {
        flex-direction: column;
        width: 325px;
    }

    .animacionweb {
        width: 20em;
        margin: 0px 83px 0px -39px;
    }

    .contenedortickets {
        width: 306px;
    }

    .tickets {
        width: 199px;
        height: 106px;
    }

    .ticket2>h1:nth-child(1) {
        font-size: 29px;
    }

    .ticket1>h1:nth-child(1) {
        font-size: 19px;
    }

    .ticket1>h1:nth-child(2):hover {
        position: absolute;
        z-index: 3;
        color: #d12828;
        background-color: #ef5750;
        font-size: 18px;
    }

    .ticket2>h1:nth-child(2):hover {
        position: absolute;
        z-index: 3;
        color: #44c0a8;
        background-color: #76cebd;
        ;
        font-size: 20px;
    }

    .ticket3>h1:nth-child(2):hover {
        position: absolute;
        z-index: 3;
        color: #4c9354;
        background-color: #79b182;
        ;
        font-size: 20px;
    }

    .ticket4>h1:nth-child(2):hover {
        position: absolute;
        z-index: 3;
        color: #e7ae46;
        background-color: #fed57d;
        ;
        font-size: 20px;
    }
    body {
        width: 100%;
    }
    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        display: fixed;
    }

    .menu-mobile-icon {
        display: block;
        z-index: 77777;
        position: fixed;
        width: 100px;
        height: 86px;
        bottom: 818px !important;ant;
        right: 310px !important;
        background-image: url('../resources/menu-regular-108.png');
        /* background-size: cover; */
        /* background-repeat: no-repeat; */
    }

    .menu-exit-mobile-icon {
        z-index: 55;
    position: fixed;
    display: none;
    width: 101px;
    height: 101px;
    bottom: 785px !important;
    right: 309px !important;
        


        
        
        
        
        
        background-image: url('../resources/x-regular-108.png');
        
        
    }

span.menu-exit-mobile-icon {}
    nav{
        width: 100%;
        height: 100vh;
        opacity: 1;
        z-index: 49;
        transform: translateX(-430px);
    }

    .show-nav {
        animation: fade-in 0.4s forwards;
    }

    .hide-nav {
        animation: hide-nav 0.4s forwards;
    }

    @keyframes fade-in {
        0% {
            display: none;
            opacity: 0;
            transform: translateX(-400px);
        }
        100% {
            display: block;
            opacity: 1;
            transform: translateX(0px);
        }
    }

    @keyframes hide-nav {
        0% {
            display: block;
            opacity: 1;
            transform: translateX(0px);
        }
        100% {

            display: none;
            opacity: 0;
            transform: translateX(-400px);
        }
    }

    .btn-flotante {
        width: auto;
        height: auto;
        padding: 14px;
        bottom: 807px !important;
        right: 14px !important;
    }
    a>img{
        width: 44px !important;
    }
    ul {
        z-index: -1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 102vh;
        position: fixed;
        background-color: rgb(255 255 255);
    }
   
}