form>div>input {
    height: 40px;
    border-radius: 12px;
    font-family: fantasy;
    text-align: center;
}

h1 {
    font-size: 29px !important;

    margin: 0;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

main {
    padding: 0 !important;
}

label {
    font-size: 32px !important;
}

input:invalid {
    padding: 13px;
    background-color: #ffde17 !important;
    border-radius: 47px;
    border: 5px solid #242855 !important;
    cursor: url(/resources/cursor-09.png), auto;
    box-shadow: none;
    color: #242855;
    padding: 4px !important;
}

.btn_edit {
    background: #ffde17;
    border: 8px solid #907e10;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    cursor: url(../../resources/cursor-03.png), auto !important;
    MARGIN: 0 18PX;
    height: 74px;
    WIDTH: 105px;
    color: #443c0e;
}

.btn_enviar {
    background: #48d84e !important;
    border: 8px solid #238327;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 700;
    cursor: url(../../resources/cursor-03.png), auto !important;

    height: 71px !important;
    WIDTH: 104px !important;
    color: #0c430e;
    box-shadow: none;
    margin: 7px !important;
}

.btn_remove {
    background-color: #eb644f;
    border: 8px solid #983d2f;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    cursor: url(../../resources/cursor-03.png), auto !important;
    MARGIN: 0 18PX;
    height: 74px;
    WIDTH: 105px;
    color: #762c21;
    border-radius: 13px;
    margin: 7px !important;
}

form {

    display: flex;
    flex-direction: row;


    padding: 5px;
    border-radius: 45px;
    MARGIN: 0px 90px 10px;
    justify-content: space-between;
    background-color: #904bdf;
    align-items: center;
    border: 5px solid white;

}

form>div>img {
    width: 45px;
    margin: 8px;
}

form>button {
    height: 45px;
    border-radius: 13px;
    font-family: fantasy;
}
a{
    color: #ffffff !important;
    text-decoration: underline;
    font-size: 36px;
    margin: 0 0 26px;
    text-decoration: none;
    
}

form>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.filedesign {
    border-radius: 0;
}

.inputimg {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center !important;
    height: auto;
    width: auto !important;
}

input {
    height: 50px !important;
    border-radius: 12px !important;
    font-family: fantasy !important;
    text-align: center !important;
    width: 174px !important;
    margin: 0px 42px !important;
    box-shadow: none !;
}

label {

    font-family: fantasy;
    color: #242855 !important;
    margin-right: 0px !important;
    font-size: 23px !important;
}

button,
.sub {
    height: 45px;
    border-radius: 13px;
    font-family: fantasy;
}

iframe {
    height: 80px;
}

#contArtista {}
body{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.btn-flotante {
    font-size: 16px !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    color: #904bdf !important;
    border-radius: 483px !important;
    letter-spacing: 2px !important;
    background-color: #ffffff !important;
    padding: 14px 15px !important;
    position: fixed !important;
    bottom: 599px !important;
    right: 20px !important;
    transition: all 300ms ease 0ms !important;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%) !important;
    z-index: 99 !important;
    font-family: 'Poppins', sans-serif !important;
    text-decoration: none !important;
}
.btn-flotante:hover {
	background-color: #f3f3f3; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
}
a>img{
    width: 57px !important;
    margin-right: 0 !important;
}