*{
    margin: 0;
}
header{
    width: 100%;
    height: 138px;
    background-image: url(/nubes.png);
    background-size: contain;
    margin: auto;
    position: fixed;
    z-index: 10;
}
main{
    flex-direction: column;
    align-items

}
.hero{
    width: 100%;
    height: 657px;
    align-items: center;
    justify-content: center;
}
.description{
    width: 100%;
    height: 1301,5px;
    align-items: center;
    justify-content: center;
}
.schedules{
    width: 100%;
    height: 945px;
    align-items: center;
    justify-content: center;
}
.contents{
    width: 100%;
    height: 977px; 

    align-items: center;
    justify-content: center;
}
.prices{
    width: 100%;
    height: 893px;
    align-items: center;
    justify-content: center;
}
.form{
    width: 100%;
    height: 972px;
    align-items: center;
    justify-content: center;
}
.sponsors{
    
    width: 100%;
    height: 451px;
    align-items: center;
    justify-content: center;
}

footer{
    width: 100%;
    height: 643px;

}
body{
    background-image: url(/Untitled-1-01-01.png);
    background-size: cover;
}